%div.status
  %h2=exchange["name"]
  %table
    %tr
      %td Arguments: 
      %td=exchange["arguments"]
    %tr
      %td Auto Delete:
      %td=exchange["auto_delete"]
    %tr
      %td Type:
      %td=exchange["type"]
    %tr
      %td Durable:
      %td=exchange["durable"]
