-@bindings.each do |binding|
  %div.status
    %table
      %tr
        %td Queue:
        %td= binding["queue"]["name"]
      %tr
        %td Exchange:
        %td= binding["exchange"]["name"]
      %tr  
        %td Key:
        %td= binding["key"]