!!! XML
!!!
%html
  %head
    %link{ :rel => "stylesheet", :href => "/css/common.css" }
    %script{ :type => "text/javascript", :src => "/js/jquery-1.3.2.min.js" }
    %script{ :type => "text/javascript", :src => "/js/humpty.js" }
    %title
      Humpty (#{@server})
  %body
    #container
      #banner
        %h1 Humpty
        %ul
          %li Server: 
          -@servers.each do |server|
            %li
              %a(href="?server=#{server}" class="#{'active_server' if server == @server.to_s}")=server
      #menu
        %ul
          %li
            %a(href="/") Overview
          %li
            %a(href="queues") Queues
          %li
            %a(href="exchanges") Exchanges
          %li
            %a(href="bindings") Bindings
          %li
            %a(href="config") Config
      #content
        =yield
        
