%h1 Summary
.status.summary
  %h2 General
  %table
    %tr
      %td Applications
      %td
        %ul
          -@control["status"][0]["applications"].each do |application|
            %li=application
    %tr
      %td Nodes
      %td
        %ul
          -@control["status"][0]["nodes"].each do |node|
            %li=node
    %tr
      %td Running Nodes
      %td
        %ul
          -@control["status"][0]["running_nodes"].each do |node|
            %li=node

.status
  %h2 Queues
  %table
    %tr
      %td #
      %td Name
      %td
    -@queues.each do |queue|
      %tr(class="#{class_for_queue(queue)}")
        %td
          #{queue["messages"]}
        %td
          #{queue["name"]}
        %td
          %a(href="/queues/#{queue["name"]}/delete" class="ask")
            %img{:src => "img/delete.png"}