html {
    background: #71B9E6;
}

#container{
    position: relative;
    top: 20px;
    float: left;
    width: 100%;
    background: #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px #333;
    -moz-box-shadow: 0px 0px 5px #333;
}

table {
    margin-top: 10px;
    border-collapse: collapse;
}

th{
    background: #666;
    color: #eee;
}

td, th {
    padding: 0 4px;
    border: 1px solid #ccc;
}

#menu{
    width: 200px;
    float: left;
}

ul {
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: #E75A26;
    font-weight: bold;
}

#menu a:hover {
   color: #3A65AE; 
}

#content{
    float: left;
}