* {
    margin: 0;
    padding: 0;
    color: #111;
}

p {
    margin-bottom: 10px;
}

html {
    background: #71B9E6;
    font-family: Helvetica;
}

h1, h2, h3 {
    margin: 2px;
}

h1 {
    margin-bottom: 10px;
    color: #3A65AE;
    font-size: 26px;
}

h2 {
    font-size: 18px;
}

#container{
    padding: 10px 2px;
    margin: 10px 20px;
    position: relative;
    top: 20px;
    float: left;
    width: 95%;
    background: #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px #333;
    -moz-box-shadow: 0px 0px 5px #333;
}

table.queues {
    margin-top: 10px;
    border-collapse: collapse;
}

table.queues th{
    background: #666;
    color: #eee;
    font-size: 12px;
    padding: 3px 4px;
}

table.queues td, table.queues th {
    border: 1px solid #ccc;
}

table.queues td {
  padding: 0 4px;
}

#menu{
    width: 150px;
    float: left;
}

#menu ul {
    padding-left: 15px;
    list-style-type: none;
}

ul {
    padding-left: 35px;
}

#menu a {
    text-decoration: none;
    color: #3A65AE;
    font-weight: bold;
}

#menu a:hover {
   color: #A3C3D6; 
}

#content{
    float: left;
}

div.binding{
    margin-top: 10px;
}

form.config input[type="text"]{
    width: 50px;
}

form.config table th{
    text-align: left;
}

form.config table td{
    text-align: right;
}